<table class = 'table product-table'>
  <tr>
    <th colspan="2" class= 'table-title'>
      Detalles
    </th>
  </tr>
  <tr>
    <th>
      Nombre
    </th>
    <td>
      <%= product.name %>
    </td>
  </tr>
  <tr>
    <th>
      Categoria de Producto
    </th>
    <td>
      <%= product.category %>
   </tr>
  <tr>
    <th>
      Tipo de Producto
    </th>
    <td>
      <%= product.item_type %>
    </td>
  </tr>
  <tr>
    <th>
      Colores Disponibles
    </th>
    <td>
      <ul>
        <li>
          "colocar lista de colores"
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>
      Medidas (cms)
    </th>
    <td>
      <%= product.measures  %>
    </td>
  </tr>
  <tr>
    <th>
      Capacidad (lts)
    </th>
    <th>
      <%= product.capacity  %>
    </th>
  </tr>

</table>
