

<div class="container">
  <div class="product-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @product.banner %>');">
    <h2><%= @product.name  %></h2>
  </div>
  <% if @actions %>
    <%= render 'shared/manager_action_buttons', product: @product  %>
  <% end %>
  <div class="text-description">
    <p> <%= @product.description  %></p>
  </div>
  <div class="product-table-container">
    <%= render 'shared/product_table', product: @product  %>
  </div>
</div>
